# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración locales y secretos
.env
instance/

# Archivos de datos o temporales (opcional, por si no quieres subirlos)
*.xlsx
*.pdf